body {
  margin: 0;
  padding: 0;
}
.container
{
  /* width: 1440px;  */
  height:100vh; 
  display: flex;
  flex-direction: row;
  width:100vw;
}
.sidebar{
  /* max-width: 260px;   */
  width:20%;
  background-color: black;
  display: flex;
  flex-direction: column;
}
.rightdiv{
  /* max-width: 945px; */
  width:80%;
  background: #F5F5F5;  display: flex;
  flex-direction: column;
  height: auto;

}
.sidebarinerdiv{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap:220px;
}
.logoandlinks{
  display: flex;
flex-direction: column;
align-items: center;
height:440px;
gap: 48px;
align-items: center;
padding: 10px;
}
.logo{
  display: flex;
  align-items: flex-start;
padding: 10px;
gap: 10px;
}
#logoimg{
  height: 64px;
}
.menulinks{
  display: flex;
flex-direction: column;
display: flex;
flex-direction: column;
height: 328px;

}
.menuoptions{
  /* display: flex;
flex-direction: row;
align-items: center; */
padding: 12px 16px;
width: 228px;
height: 40px;
border-radius: 8px;
font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 100%;

letter-spacing: -0.015em;

/* Zinc 400 */

color: #A1A1AA;

}
#ticketsoptionactive{
  background: #3f3f46;
  border-radius: 8px;
  font-family: "Manrope";
  font-style: normal;
color: white;
}
.ticketsresolvedimg{
padding: 20px;
gap: 10px;

}
#imgticketresolved{
display: flex;
flex-direction: column;
padding-top:20px;
height: 180px;
}
.imgandlogout{
  display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;
gap: 32px;

width: 180px;
height: 228px;
}
#logoutlink{
  padding: 12px 16px;
width: 228px;
height: 40px;
border-radius: 8px;
font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 100%;
letter-spacing: -0.015em;
color: #A1A1AA;
}
.topmenubar{
  box-sizing: border-box;
display: flex;
flex-direction: row;
/* justify-content: center; */
/* align-items: flex-end; */
/* padding: 20px 24px; */
height: 90px;
top: 0px;
background: #FFFFFF;
border-bottom: 1px solid #E4E4E7;
}
.topbar{
  display: flex;
flex-direction: row;
/* align-items: center; */
padding: 0px;
padding: 20px 24px;
}
#ticketshead{
  width: 905px;
  font-family: 'Manrope';
font-style: normal;
font-weight: 800;
font-size: 24px;
line-height: 100%;
letter-spacing: -0.03em;
color: #18181B;
/* order: 0; */
}
 #createticketbtn{
  display: flex;
flex-direction: row;
align-items: center;
/* padding: 16px 24px; */
/* gap: 24px; */
/* order:1; */
justify-content: center;
background: #18181B;
border-radius: 6px;
font-family: 'Manrope';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 100%;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #FFFFFF;
 }
 .menuandsearchbox{
  display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 10px;
gap: 16px;
 /* width: 1140px; */
/* height: 48px;  */

 }
.menu{
  display: flex;
  flex-direction: row;
  /* align-items: flex-start; */
  padding: 5px;
  gap: 12px;
  margin-left: 20px;
  

}
.searchbox{
  display: flex;
flex-direction: row;
/* align-items: flex-start; */
padding: 0px;
gap: 8px;

/* width: 310px; */
height: 48px;
}
#search{
  box-sizing: border-box;

/* Auto layout */
/* 
display: flex;
flex-direction: row;
justify-content: center;
align-items: center; */
padding: 16px;
gap: 16px;

width: 310px;
height: 48px;

/* White */

background: #FFFFFF;
/* Zinc 200 */

border: 1px solid #E4E4E7;
border-radius: 6px;
}
#svgpic{
  border: none;
  background-color: white;
  padding: 0;
}
.stats{
  
  /* box-sizing: border-box; */

  /* Auto layout */
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
  padding: 8px;
  gap: 24px;
  width:1450px;
  /* width: 1140px; */
  /* height: 709px; */
  margin-left: auto;
  margin-right: auto;
  
  /* White */
  
  background: #FFFFFF;
  /* Zinc 200 */
  
  border: 1px solid #E4E4E7;
  border-radius: 12px;
  
}
.headings{
  width: 35px;
height: 24px;
font-family: 'Manrope';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 150%;
color: #18181B;
background: #FFFFFF;
box-shadow: inset 0px -1px 0px rgba(229, 231, 235, 0.6);

}
.tdclass{
  font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 14px;
/* line-height: 14px; */
color: #52525B;
padding: 24.5px 16px;
/* box-shadow: inset 0px -1px 0px rgba(229, 231, 235, 0.6); */
text-align: center;
/* width: 160px;
height: 63px; */
}
.headingth{
  
padding: 16px;
gap: 12px;
/* width: 160px;
height: 63px; */

/* White */
display: flex;
flex-direction: row;
align-items: center;
background: #FFFFFF;
box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.06);
}
.colors{
border-radius: 31px;
/* padding: 8px 16px; */
/* display: flex;
flex-direction: row;
align-items: flex-start; */
padding: 8px 16px;
gap: 10px;
margin: auto;
width: 100px;
height: 12px;
/* justify-content: center;
align-items: center; */
}
#awaiting{
  background: #FECACA;
}
#inqueue{
  background: #FED7AA;
}
#inprogress{
  background: #FDE68A;
}
#completed{
  background: #A7F3D0;
}
#completed1{
  background: #99F6E4;
}
#inprogress2{
  background: #A7F3D0;
}
#inprogress1{
  background: #A5F3FC;
}
#completed2{
  background: #BAE6FD;
}
#completed3{
  background: #C7D2FE;
}
#inqueue1{
  background: #D9F99D;
}
#completed4{
  background: #DDD6FE;
}
.bottomdiv{
  display: flex;
flex-direction: row;
/* justify-content: flex-end; */
align-items: center;
padding: 0px;
gap: 12px;
height: 34px;
padding: 8px;
  margin: auto;
  width:1450px;
}
.prenextdiv{
  display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px 12px;
gap: 12px;

/* width: 109px;
height: 33px; */

border-radius: 8px;
}
.prenextdiv{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  
}